.not-found__status-wrapper {
  position: relative;
  z-index: 1;
  width: auto;
  margin-top: 25.4vh;
  margin-right: auto;
  margin-left: auto;
  padding-top: 62px;
  text-align: center;
  background-image: url('../img/ico-no-results.svg');background-size: 45px 47px;
  background-position: center top;
  background-repeat: no-repeat;
}

.not-found__status {
  display: block;
  margin-bottom: 5px;
  font-size: 32px;
  line-height: 1.1875;
}

.not-found__status-description {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 45px;
  font-size: 16px;
  line-height: 1.5;
}

.not-found__button {
  padding: 16px 20px 13px;
    color: #fff;
    background-color: #4481c3;
    border-radius: 3px;
}

.not-found__button:focus,
.not-found__button:hover {
  background-color: #3069a6;
}
